<div 
  (click)="fecharMenu()" 
  class="fixed inset-0 z-10"
></div>

<div class="absolute right-8 top-10 z-20 w-36 rounded-md bg-white shadow-lg ring-1 ring-black/5 focus:outline-none">
  <div class="py-1">
    <a [routerLink]="['/pessoas', pessoaCpf()]" class="block w-full px-4 py-2 text-left text-sm text-gray-700 hover:bg-gray-50">
      Ver detalhes
    </a>
    <button (click)="abrirModal()" class="block w-full px-4 py-2 text-left text-sm text-red-600 hover:bg-red-50 cursor-pointer">
      Excluir
    </button>
  </div>
</div>

@if (isOpen) {
  <app-modal-excluir
    titulo="Excluir Cadastro"
    [mensagem]="`Tem certeza que deseja excluir o cadastro com o CPF ${pessoaCpf()}?`"
    (confirmar)="confirmarExclusao()" 
    (cancelar)="fecharModal()" 
  />
}